@font-face {
  font-family: "Pier Sans";
  src: url("./assets/fonts/pier-sans/PierSans-Regular.otf");
}

:root {
  /* Font */
  /* Font sources: https://fonts.google.com/specimen/Libre+Baskerville and https://fonts.google.com/specimen/Open+Sans */
  --font-family-headings: "Pier Sans", sans-serif;
  --font-family-paragraph: "Libre Baskerville", serif;

  /* Color - Source: TBD */
  --color-primary: #262c37;
  --color-primary-header: white;
  --color-primary-paragraph: white;
  --color-secondary1: var(--color-primary-paragraph);
  --color-secondary1-header: var(--color-primary);
  --color-secondary1-paragraph: var(--color-primary);
  --color-secondary2: var(--color-primary);
  --color-secondary2-paragraph: var(--color-primary-paragraph);
  --color-highlight: #988d77;
  --color-highlight-text: #007fff;

  /* Size */
  --body-min-width: 360px;
  --header-height: 80px;
  --header-height-adjust-ratio: 1;
  --font-size-main: 1.2em;
  --professional-logo-height: 55px;
  --professional-logo-text-height-offset: 26px;
  --padding-content-box: 0.5em;
  --tile-min-width: 300px;
  --profile-photo-width: 420px;
}

html {
  box-sizing: border-box;
  scroll-padding-top: calc(
    var(--header-height) * var(--header-height-adjust-ratio)
  );
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: var(--color-primary-paragraph);
  font-family: var(--font-family-paragraph);
  font-size: var(--font-size-main);
  margin: 0;
  min-width: var(--body-min-width);
}

h1,
h2,
h3,
h4,
h5,
h6,
header {
  font-family: var(--font-family-headings);
  font-weight: normal;
}

.site-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: calc(var(--header-height) * var(--header-height-adjust-ratio));
  background-color: var(--color-primary);
  color: var(--color-primary-paragraph);
}

.site-nav .professional-logo {
  height: var(--professional-logo-height);
  margin-right: calc(var(--padding-content-box) * 4);
}

.nav-link {
  text-decoration: initial;
  color: var(--color-highlight);
  font-family: var(--font-family-headings);
}
.nav-link:hover {
  text-decoration: underline;
}

.site-nav .nav-link {
  margin-left: calc(var(--padding-content-box) * 2);
  font-size: calc(var(--font-size-main) * var(--header-height-adjust-ratio));
  padding-top: calc(
    var(--professional-logo-text-height-offset) *
      var(--header-height-adjust-ratio)
  );
}

.main {
  margin-top: calc(var(--header-height) * var(--header-height-adjust-ratio));
  display: flex;
  flex-direction: column;
  align-content: center;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 10%;
}

.section.section--welcome {
  height: calc(
    100vh - calc(var(--header-height) * var(--header-height-adjust-ratio))
  );
  background-color: var(--color-primary);
  color: var(--color-primary-paragraph);
}

.welcome-section-header h1 {
  margin-block-start: 0;
  margin-block-end: 0;
}

hr.section-header-hr {
  height: 2px;
  border: 0;
  border-top: 1px solid var(--color-highlight);
  margin: 1em 0;
}

.welcome-section-sub-header {
  margin: 10px 0 25px 0;
  font-size: 1.2em;
}

.profile-photo {
  width: 100%;
  max-width: var(--profile-photo-width);
  border-radius: 3%;
  box-shadow: 0px 0px 5px 0px var(--color-highlight);
}

.profile-photo-caption {
  width: 100%;
  max-width: calc(var(--profile-photo-width) + 25px);
  margin-top: var(--padding-content-box);
  font-style: italic;
}

.section.section--portfolio {
  align-self: center;
  flex-direction: column;
  width: 100%;
  padding-bottom: calc(var(--padding-content-box) * 4);
  background-color: var(--color-secondary1);
  color: var(--color-secondary1-paragraph);
}

.section.section--portfolio header {
  align-self: flex-start;
}

.section.section--portfolio .projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--tile-min-width), 1fr));
  grid-gap: calc(var(--padding-content-box) * 3);
  width: 100%;
}

.section.section--portfolio .projects-container .project-tile {
  background-color: var(--color-primary);
  color: var(--color-primary-paragraph);
  border-radius: 0 0 var(--padding-content-box) var(--padding-content-box);
  box-shadow: 0px 1px 2px 0px var(--color-highlight);
}

.section.section--portfolio
  .projects-container
  .project-tile
  .project-tile__screenshot {
  width: 100%;
  object-fit: cover;
}

.project-tile__screenshot--logo {
  padding: var(--padding-content-box);
}

.section.section--portfolio
  .projects-container
  .project-tile
  .project-tile__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-family-headings);
}
.section.section--portfolio
  .projects-container
  .project-tile
  .project-tile__description
  a {
  color: var(--color-primary-paragraph);
  text-decoration: none;
}
.section.section--portfolio
  .projects-container
  .project-tile
  .project-tile__description
  a:last-of-type {
  font-size: 80%;
  font-family: "Courier New", Courier, monospace;
  padding-bottom: var(--padding-content-box);
}
.section.section--portfolio
  .projects-container
  .project-tile
  .project-tile__description
  a:last-of-type:hover {
  text-decoration: underline;
}
.section.section--portfolio
  .projects-container
  .project-tile
  .project-tile__description
  a:last-of-type:before {
  content: "<";
}
.section.section--portfolio
  .projects-container
  .project-tile
  .project-tile__description
  a:last-of-type:after {
  content: ">";
}

.section.section--contact {
  background-color: var(--color-secondary2);
  color: var(--color-secondary2-paragraph);
  height: 35vh;
}
.section.section--contact .contact-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.contact-nav .nav-link {
  color: var(--color-secondary2-paragraph);
}
.contact-nav .nav-link .fab {
  color: var(--color-highlight);
}

.section.section--contact .contact-nav .contact-nav .nav-link {
  color: var(--color-secondary2-paragraph);
}

.contact-section-header h2 {
  margin-block-start: 0;
}

@media (max-width: 600px) {
}

@media (max-width: 575px) {
  :root {
    --header-height-adjust-ratio: 0.8;
  }

  .site-nav .nav-items {
    width: 100%;
  }

  .site-nav .professional-logo {
    /* margin-right: unset; */
    height: calc(
      var(--professional-logo-height) * var(--header-height-adjust-ratio)
    );
  }

  .section.section--portfolio {
    width: 97%;
  }

  .section.section--portfolio .projects-container {
    grid-template-columns: 1fr;
  }

  .section {
    padding: 0 0.5em;
  }
}

@media (max-width: 475px) {
  :root {
    --header-height-adjust-ratio: 0.7;
  }
}

@media (max-width: 425px) {
  :root {
    --header-height-adjust-ratio: 0.6;
  }
}
